.pack.col-md-4
  span.pack__owner
    div.owner
      img.img-circle(src='./../static/jules.jpg')
      ul.stars
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
      em Jules (Lyon) propose:
  span.pack__container
    span.type.casual
      h3 CASUAL PACK
    span.content
      ul
        li
          i.fa.fa-check
          | GoPro 4
        li
          i.fa.fa-check
          | SD Card 64 Go
        li
          i.fa.fa-check
          | Selfy Stick
        li
          i.fa.fa-check
          | Chesty
    span.price
      h4
        | RESERVEZ

.pack.col-md-4
  span.pack__owner
    div.owner
      img.img-circle(src='./../static/marc.jpg')
      ul.stars
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star
      em Marc (Paris) propose:
  span.pack__container
    span.type.water
      h3 WATER PACK
    span.content
      ul
        li
          i.fa.fa-check
          | GoPro 4
        li
          i.fa.fa-check
          | SD Card 64 Go
        li
          i.fa.fa-check
          | Handler
        li
          i.fa.fa-check
          | Caisson Haute Pression
    span.price
      h4
        | RESERVEZ

.pack.col-md-4
  span.pack__owner
    div.owner
      img.img-circle(src='./../static/marie.jpg')
      ul.stars
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star.fa-star-yellow
        li
          i.fa.fa-star
      em Marie (Paris) propose:
  span.pack__container
    span.type.mountain
      h3 MOUNTAIN PACK
    span.content
      ul
        li
          i.fa.fa-check
          | GoPro 4
        li
          i.fa.fa-check
          | SD Card 64 Go
        li
          i.fa.fa-check
          | Strap Frontal
        li
          i.fa.fa-check
          | Fixation Baton
    span.price
      h4
        | RESERVEZ

//-.pack.col-md-4
  //-span.pack__owner
    //-div.owner
      //-img.img-circle(src='./../static/marc.jpg')
      //-ul.stars
        //-li
          //-i.fa.fa-star.fa-star-yellow
        //-li
          //-i.fa.fa-star.fa-star-yellow
        //-li
          //-i.fa.fa-star.fa-star-yellow
        //-li
          //-i.fa.fa-star.fa-star-yellow
        //-li
          //-i.fa.fa-star
      //-em Marc (75) propose:
  //-span.pack__container
    //-span.type.thrill
      //-h3 THRILL PACK
    //-span.content
      //-ul
        //-li
          //-i.fa.fa-check
          //-| GoPro 4
        //-li
          //-i.fa.fa-check
          //-| SD Card 64 Go
        //-li
          //-i.fa.fa-check
          //-| Selfy Stick
        //-li
          //-i.fa.fa-check
          //-| Chesty
    //-span.price
      //-h4
        //-i.fa.fa-certificate
        //-| RESERVEZ
